name: Quick VSCode ZIP Release

on: workflow_dispatch

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: zip -r vscode-config.zip .vscode/
      - uses: marvinpinto/action-automatic-releases@latest
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          automatic_release_tag: "vscode-config"
          title: "VSCode Configuration"
          files: |
            vscode-config.zip
